{% extends "base.html" %}

{% block title %}About | Rinex Shine{% endblock %}

{% block content %}
     <div class="mad-breadcrumb with-bg with-overlay" data-bg-image-src="images/1920x500_bg1.jpg">
        <span class="mad-separator"><img src="cleansy_svg_icons/turquoise_blue_waves.svg" alt="" class="svg"></span>
        <div class="container">
          <h1 class="mad-page-title">About Rinex Shine </h1>
          <nav class="mad-breadcrumb-path"><span><a href="index.html"></a>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->
      <div class="mad-content no-pd">
        <div class="container">
          <div class="mad-section no-pb mad-section--stretched mad-colorizer--scheme-">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="content-element-6">
                  <h2 class="mad-page-title">Our Story</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="mad-text-medium">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend,
                      elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>
                      <p class="mad-text-medium">Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget
                      nibh. Etiam cursus leo vel metus. Nulla facilisi. Sed in lacus ut enim adipiscing aliquet.</p>
                    </div>
                    <div class="col-md-6">
                      <p class="mad-text-medium">Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent
                      justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>
                      <p class="mad-text-medium">Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                      laudantium, totam rem aperiam,eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                  </div>
                </div>
                <div class="mad-section with-video no-pd mad-section--stretched">
                  <div class="mad-colorizer-bg-color"><span class="mad-separator wave-color-2"><img src="cleansy_svg_icons/wave3.svg"
                        alt="" class="svg"></span></div>
                  <div class="video_wrapper video_wrapper_full js-videoWrapper with-half-bg">
                    <iframe class="videoIframe js-videoIframe" allowfullscreen
                      data-src="https://player.vimeo.com/video/42829407?title=0&amp;byline=0&amp;portrait=0"></iframe>
                    <button class="videoPoster js-videoPoster with-overlay"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <article class="mad-section with-separator-bottom mad-section--stretched mad-colorizer--scheme-color-3">
            <div class="mad-colorizer-bg-color"><span class="mad-separator wave-color-1"><img src="cleansy_svg_icons/wave2.svg"
                  alt="" class="svg"></span></div>
            <!--================ Icon Boxes ================-->
            <div class="mad-icon-boxes item-col-4">
              <div class="mad-col">
                <!--================ Icon Box ================-->
                <article class="mad-icon-box">
                  <i class="mad-icon-box-icon"><img class="svg" src="cleansy_svg_icons/contactless_washing.svg" alt=""></i>
                  <div class="mad-icon-box-content">
                    <h3 class="mad-icon-box-title">Contactless <br>
                      Washing</h3>
                    <p>Lorem ipsum dolor sit amet, consec<br>tetuer adipiscing elit. Mauris fermentum <br> dictum magna.
                    </p>
                    <a href="#" class="mad-read-more">Learn More</a>
                  </div>
                </article>
                <!--================ End of Icon Box ================-->
              </div>
              <div class="mad-col">
                <!--================ Icon Box ================-->
                <article class="mad-icon-box">
                  <i class="mad-icon-box-icon"><img class="svg" src="cleansy_svg_icons/unlimited_wash_club.svg" alt=""></i>
                  <div class="mad-icon-box-content">
                    <h3 class="mad-icon-box-title">Unlimited <br>
                      Wash Club</h3>
                    <p>Duis ac turpis. Integer rutrum ante eu <br> lacus. Vestibulum libero nisl, porta vel, <br> scelerisque eget,
                      malesuada at.
                    </p>
                    <a href="#" class="mad-read-more">Learn More</a>
                  </div>
                </article>
                <!--================ End of Icon Box ================-->
              </div>
              <div class="mad-col">
                <!--================ Icon Box ================-->
                <article class="mad-icon-box">
                  <i class="mad-icon-box-icon"><img class="svg" src="cleansy_svg_icons/exceptional_client_service.svg" alt=""></i>
                  <div class="mad-icon-box-content">
                    <h3 class="mad-icon-box-title">Exceptional <br>
                      Client Service</h3>
                    <p>Ut tellus dolor, dapibus eget, elementum <br> vel, cursus eleifend, elit. Aenean auctor <br> wisi et urna.
                      Aliquam erat volutpat.
                    </p>
                    <a href="#" class="mad-read-more">Learn More</a>
                  </div>
                </article>
                <!--================ End of Icon Box ================-->
              </div>
              <div class="mad-col">
                <!--================ Icon Box ================-->
                <article class="mad-icon-box">
                  <i class="mad-icon-box-icon"><img class="svg" src="cleansy_svg_icons/gift_cards.svg" alt=""></i>
                  <div class="mad-icon-box-content">
                    <h3 class="mad-icon-box-title">Gift Cards <br>
                      Available</h3>
                    <p>Vivamus eget nibh. Etiam cursus leo <br> vel metus. Nulla facilisi. Aenean nec <br> eros. Vestibulum ante
                      ipsum.
                    </p>
                    <a href="#" class="mad-read-more">Learn More</a>
                  </div>
                </article>
                <!--================ End of Icon Box ================-->
              </div>
            </div>
            <!--================ End of Icon Boxes ================-->
          </article>
          <div class="mad-section">
            <div class="mad-entities type-2 img-drop no-drop">
              <div class="content-element-4">
                <!--================ Entity ================-->
                <article class="mad-entity">
                  <div class="mad-entity-media">
                    <img src="images/688x552_img1.jpg" alt="">
                  </div>
                  <div class="mad-entity-content">
                    <div class="mad-wrap">
                      <h2 class="mad-entity-title">Commitment to
                        Clean Environment</h2>
                      <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor
                        wisi et
                        urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                        scelerisque eget, malesuada at, neque.</p>
                      <a href="#" class="btn">Learn More</a>
                    </div>
                  </div>
                </article>
                <!--================ End of Entity ================-->
              </div>
              <!--================ Entity ================-->
              <article class="mad-entity">
                <div class="mad-entity-content">
                  <div class="mad-wrap">
                    <h2 class="mad-entity-title">Water Recycling
                    and Reuse</h2>
                    <p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    <a href="#" class="btn">Learn More</a>
                  </div>
                </div>
                <div class="mad-entity-media">
                  <img src="images/688x552_img2.jpg" alt="">
                </div>
              </article>
              <!--================ End of Entity ================-->
            </div>
          </div>
          <article data-bg-image-src="images/1920x1000_bg1.jpg" class="mad-cta mad-section with-overlay mad-section--stretched with-separator-both mad-colorizer--scheme- mad-colorizer--scheme-light">
            <div class="mad-colorizer-bg-color"><span class="mad-separator"><img src="cleansy_svg_icons/turquoise_blue_waves4.svg" alt="" class="svg"></span><span class="mad-separator"><img src="cleansy_svg_icons/turquoise_blue_waves3.svg" alt="" class="svg"></span>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-xl-9">
                    <h2 class="mad-cta-title">Join Unlimited Wash Club</h2>
                    <p class="mad-text-medium">Become an Unlimited Club member and get unlimited washes at just <u>$19.99/mo!</u>
                    </p>
                  </div>
                  <div class="col-xl-3">
                    <a href="#" class="btn btn-huge btn-style-2">Join The Club Today!</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <div class="mad-section mad-section--stretched with-separator-bottom mad-colorizer--scheme-">
            <div class="mad-colorizer-bg-color"><span class="mad-separator wave-color-3"><img src="cleansy_svg_icons/wave2.svg"
                  alt="" class="svg"></span>
            </div>
            <h2 class="mad-page-title">Our Awards</h2>
            <!--================ Partners ================-->
            <div class="mad-sponsors owl-carousel no-dots mad-grid mad-grid--cols-5">
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor1.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor2.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor3.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor4.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor5.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
              <!-- owl item -->
              <div class="mad-grid-item">
                <!--================ Partners Item ================-->
                <a href="#">
                  <img src="images/sponsor6.jpg" alt="">
                </a>
                <!--================ End of Partners Item ================-->
              </div>
              <!-- / owl item -->
            </div>
            <!--================ End of Partners ================-->
          </div>
        </div>
      </div>
      <div class="mad-section pt-size-2 with-separator mad-section--stretched mad-colorizer--scheme-color-2 mad-colorizer--scheme-light">
        <div class="mad-colorizer-bg-color"><span class="mad-separator"><img src="cleansy_svg_icons/turquoise_blue_waves3.svg"
              alt="" class="svg"></span></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <form class="mad-newsletter-form one-line">
                <h5 class="mad-page-title">Sign Up For Offers <br>
                  And Promotions!</h5>
                <input type="email" name="email" placeholder="Your email address...">
                <button type="submit" class="btn btn-big"><i
                    class="material-icons">mail_outline</i><span>Subscribe</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}
