{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!--================ Basic page needs ================-->
  <title>Rinex Shine | Home</title>
  <meta charset="UTF-8">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--================ Mobile specific metas ================-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--================ Favicon ================-->
  <link rel="shortcut icon" href="images/favicon.ico">
  <!--================ Google web fonts ================-->
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700&family=Lato&display=swap"
    rel="stylesheet">
  <!--================ Vendor CSS ================-->
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet">
  <!--================ Vendor CSS ================-->
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/arcticmodal/jquery.arcticmodal-0.3.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <!--================ Theme CSS ================-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <!--================ Vendor JS ================-->
</head>

<body>
  <span class="mad-page-bg-svg top-side bg-move" data-bg-image-src="{% static 'cleansy_svg_icons/bg.svg' %}"></span>
  <div class="mad-preloader"></div>
  <div id="mad-page-wrapper" class="mad-page-wrapper">
    <!--================ Search Modal ================-->
    <div class="mad-d-none">
      <div id="search-modal" class="mad-modal mad-modal--search">
        <button type="button" class="arcticmodal-close"><i class="material-icons">close</i></button>
        <h4 class="mad-title">Search</h4>
        <!--================ Search Form ================-->
        <form role="search" method="get" class="mad-searchform">
          <input type="text" name="s" placeholder="Type your keyword here">
          <button type="submit" class="btn"><i class="material-icons">search</i></button>
        </form>
        <!--================ End of Search Form ================-->
      </div>
    </div>
    <!--================ End of Search Modal ================-->
    <!--================ Header ================-->
    <header id="mad-header" class="mad-header">
      <div class="mad-header-section--sticky-xl">
        <div class="container">
          <div class="mad-header-items">
            <div class="mad-header-item">
              <a href="{% url 'pages:home' %}" class="mad-logo" style="display: flex; align-items: center; text-decoration: none; color: #012E40; font-size: 40px; font-weight: 800; font-family: 'Mulish', sans-serif; text-shadow: 1px 1px 2px rgba(1, 46, 64, 0.3);">
  <span style="color: #012E40;">Rinex</span> <span style="color: #012E40;">Shine</span>
</a>
              <span class="mad-tel"><i class="material-icons">call</i>+447956450596</span>
            </div>
            <!--================ Navigation ================-->
            <nav class="mad-navigation-container">
              <ul class="mad-navigation mad-navigation--vertical-sm">
                <li class="current-menu-item"><a href="#">Home</a>
        
          
                </li>
                <li class="menu-item menu-item-has-children"><a href="#">Services</a>
                  <!--================ Sub Menu ================-->
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="{% url 'pages:car_care' %}">Car Care</a>
                    </li>
                    <li class="menu-item"><a href="{% url 'pages:home_cleaning' %}">Home Cleaning</a>
                    </li>
                    <li class="menu-item"><a href="{% url 'pages:office_shop_cleaning' %}">Office &amp; Shop</a></li>
                    <li class="menu-item"><a href="{% url 'pages:move_in_out_cleaning' %}">Move In/Out</a></li>
                    <li class="menu-item"><a href="{% url 'pages:upholstery_cleaning' %}">Upholstery</a></li>
                    
                      <!--================ Sub Menu ================-->
                      <!--================ End of Sub Menu ================-->
                    </li>

                  </ul>
                  <!--================ End of Sub Menu ================-->
                </li>
                <li class="menu-item"><a href="{% url 'pages:about' %}">About</a>
                  <!--================ Sub Menu ================-->
                  <!--================ End of Sub Menu ================-->
                </li>
                <li class="menu-item menu-item-has-children"><a href="#">Shop</a>
                  <!--================ Sub Menu ================-->
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="shop_cart.html">Cart</a>
                    </li>
                    <li class="menu-item"><a href="shop_checkout.html">Checkout</a>
                    </li>
                    <li class="menu-item"><a href="shop_account.html">My Account</a>
                    </li>
                  </ul>
                  <!--================ End of Sub Menu ================-->
                </li>
                <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                  <!--================ Sub Menu ================-->
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children"><a href="#">Classic Blog</a>
                      <!--================ Sub Menu ================-->
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="blog_classic_sidebar.html">With Right Sidebar</a>
                        </li>
                        <li class="menu-item"><a href="blog_classic.html">Without Sidebar</a>
                        </li>
                      </ul>
                      <!--================ End of Sub Menu ================-->
                    </li>


                  </ul>
                  <!--================ End of Sub Menu ================-->
                </li>
              </ul>
              <div class="mad-actions">
                <div class="mad-item">
                  <a href="#" class="mad-item-link" data-arctic-modal="#search-modal"><i
                      class="material-icons">search</i></a>
                </div>
                <div class="mad-item">
                  <a href="#" class="btn btn-big"><i class="material-icons-outlined">location_on</i><span>Find a
                      Location</span></a>
                </div>
              </div>
            </nav>
            <!--================ End of Navigation ================-->
          </div>
        </div>
      </div>
    </header>






    {% block content %}{% endblock %}



    





    <!--================ Footer ================-->
    <footer id="mad-footer" class="mad-footer">
      <!--================ Footer row ================-->
      <div class="mad-footer-main">
        <div class="container">
          <div class="content-element-8">
            <div class="row vr-size-1">
              <div class="col-lg-4">
                <!--================ Widget ================-->
                <section class="mad-widget">
                  <div class="content-element-4">
                    <a href="{% url 'pages:home' %}" class="logo" style="display: flex; align-items: center; text-decoration: none; color: #012E40; font-size: 22px; font-weight: 800; font-family: 'Mulish', sans-serif; text-shadow: 1px 1px 2px rgba(1, 46, 64, 0.3);">
  <span style="color: #012E40;">Rinex</span> <span style="color: #012E40;">Shine</span>
</a>
                  </div>
                  <div class="content-element-4">
                    <ul class="mad-tt-list">
                      <li>Phone: <span>+447956450596</span></li>
                      <li>Email: <a href="#" class="mad-mail">rinexshine@gmail.com</a></li>
                      <li><span>We Come To You</span></li>
                      <li><a href="#" class="mad-dir">Get Directions</a></li>
                    </ul>
                  </div>
                  <div class="mad-social-icons">
                    <ul>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-tripadvisor"></i></a></li>
                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </section>
                <!--================ End of Widget ================-->
              </div>
              <div class="col-lg-4">
                <!--================ Widget ================-->
                <section class="mad-widget">
                  <div class="content-element-3">
                    <h6 class="mad-widget-title">Quick Links</h6>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mad-vr-list">
                          <ul>
                            <li><a href="#" class="mad-link">About</a></li>
                            <li><a href="#" class="mad-link">Services</a></li>
                            <li><a href="#" class="mad-link">Locations</a></li>
                            <li><a href="#" class="mad-link">Plans and Pricing</a></li>
                            <li><a href="#" class="mad-link">Unlimited Wash Club</a></li>
                            <li><a href="#" class="mad-link">Testimonials</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mad-vr-list">
                          <ul>
                            <li><a href="#" class="mad-link">Careers</a></li>
                            <li><a href="#" class="mad-link">Blog</a></li>
                            <li><a href="#" class="mad-link">Online Store</a></li>
                            <li><a href="#" class="mad-link">FAQ</a></li>
                            <li><a href="#" class="mad-link">Contact</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!--================ End of Widget ================-->
              </div>
              <div class="col-lg-4">
                <!--================ Widget ================-->
                <section class="mad-widget">
                  <h6 class="mad-widget-title">Hours of Operation</h6>
                  <ul class="mad-tt-list type-2">
                    <li>
                      Open 7 Days a Week!
                      <span>8:00AM - 7:00 PM</span>
                    </li>
                    <li>
                      Closed on:
                      <span>New Year's Day, Easter, <br>
                      Thanksgiving Day, Christmas Day</span>
                    </li>
                  </ul>
                </section>
                <!--================ End of Widget ================-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================ End of Footer row ================-->
      <p class="copyrights">Copyright © 2026 Rinex Shine. All Rights Reserved.</p>
    </footer>
    <!--================ End of Footer ================-->
  </div>
  <script src="{% static 'vendors/modernizr.js' %}"></script>
  <script src="{% static 'vendors/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendors/jquery.easing.1.3.min.js' %}"></script>
  <script src="{% static 'vendors/monkeysan.accordion.js' %}"></script>
  <script src="{% static 'vendors/jquery.parallax-1.1.3.min.js' %}"></script>
  <script src="{% static 'vendors/monkeysan.tabs.min.js' %}"></script>
  <script src="{% static 'vendors/monkeysan.jquery.nav.1.0.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script
    src="https://maps.google.com/maps/api/js?key=AIzaSyA_Yp_8RGMFiW6N-X8WLKYyfzvlOSzWwII&amp;amp;libraries=geometry&amp;amp;v=3.20"></script>
  <script src="{% static 'vendors/arcticmodal/jquery.arcticmodal-0.3.min.js' %}"></script>
  <script src="{% static 'vendors/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'vendors/monkeysan.validator.min.js' %}"></script>
  <script src="{% static 'vendors/handlebars-v4.0.5.min.js' %}"></script>
  <script src="{% static 'vendors/mad.customselect.js' %}"></script>
  <script src="{% static 'vendors/retina.min.js' %}"></script>
  <script src="{% static 'js/modules/mad.alert-box.min.js' %}"></script>
  <script src="{% static 'js/modules/mad.newsletter-form.min.js' %}"></script>
  <script src="{% static 'js/modules/mad.sticky-header-section.min.js' %}"></script>
  <script src="{% static 'js/mad.app.js' %}"></script>
</body>

</html>